*{
    margin: 0px;
    padding: 0px;
    margin: 1rem;
}
#product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#counter input,button{
    margin: 1rem;
    height: 4rem;
    width: 6rem;
    border: none;
}

#increment{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
#decrement{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
#product_img{
    margin-left: 2rem;
    width: 17.938rem;
    height: 20rem;
}

#num{
    text-indent: 40px;
}
#add_to_cart{
    display: none;
    border: none;
    border-radius: 20px;
}
#add_to_cart button{
    border: none;
    border-radius: 20px;
}

@media only screen and (max-width: 568px) {
    #product{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #counter input,button{
        border-radius: 20px;
        margin: .1rem;
        height: 4rem;
        width: 9rem;
        border: none;
    }
    #counter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #num{
        text-indent: 60px;
    }
  }